html{
    font-size: 62.5%;
}
.body{
    background-color: hsl(199, 57%, 70%);
}

.input{
    width: 30rem;
    height: 3.5rem;
    border: .2rem solid black;
    font-size: 2rem;
    border-radius: .5rem;
 
}
#addToDo{
    height: 3.5rem;
    width: 6rem;
    border-radius:0.5rem;
    font-size: 2rem;
    padding: auto;
    border: none;
    background-color: hsl(216, 80%, 55%);

}

.to-dos{
    background-color: hsl(0, 25%, 98%);
    cursor: pointer;
    margin-top: 2rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    width: 36rem;
    border-radius: .3rem;
 
}

#box{
    width: 50rem;
    height: 50rem;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 7rem;
   
}
@media(max-width:998px) {
    html {
        font-size: 55%;
    }
    
}

@media(max-width:768px) {
    html{
        font-size: 45%;
    }
    
}

@media(max-width:400px){
    html{
        font-size: 40%;
    }
}